html{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
#name, #fixed, #body, #fixed,#filter{
    transition: 850ms;
}


#name {
    height: 85vh;
    padding: 0px;
    margin: 0;
    
}
h1{
    margin: 0   ;
}
#arrow {
    width: 50px;
    height: 50px;
    background-color: rgb(90, 90, 90);
    transform: translate(0px);
    animation: float 2500ms ease-in-out infinite;
    transition: width 100ms, height 100ms;
}

#arrow:hover {
    width: 57px;
    height: 57px;
    margin: 0;
    
}

#presentation{
    margin-top: 8rem;
}

#skills{
    height: 100vh;
   margin: 0px;
    
}

#progress-bar{
    width: 60%;
    
}

#felipe-img{
   height: 400px;
   width: 400px;
   border-radius: 120px;
   transition-property:border-radius, transform ;
   transition: 600ms;
}

#felipe-img:hover{
    border-radius: 10px;
}

.description{

    max-width: 400px;
}

.progress{
  width: 100%;
  border-radius: 0;
  box-shadow: -5px 5px 2px rgba(8, 8, 8, 0.7)
    
}

.tecs-images{
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
}

.tecs-images > img{
    width: 100px;
    height: 100px;
    margin:25px;
 
}

#portfolio{
    height: 100vh;
}

.carousel-item-img{
    width: 65%;
    transition: 500ms;
  
}

.social-img{
width: 50px;
height: 50px;
margin-right: 19px;
}

#social a{
    text-decoration: none;
}

@media (max-width: 770px){
    #portfolio{
        height: 60vh;
    }
  
}
@media (max-width: 400px){
   body{
    width: 100vw;
   }

    #portfolio{
        height: 40vh;
    }
    #felipe-img{
        height: 350px;
        width: 350px;
    }
    .tecs-images > img{
        width: 80px;
        height: 80px;
        margin: auto;
    }
}


